.head{
    height: 52px;
    width: 100%;
    background:#2C2F33;
}
.headContain{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ant-menu-horizontal{
    background:#2C2F33;
    line-height: 51px;
    color: #fff;
}
.ant-menu-item:hover{
    color:red !important;
    border-bottom: 0px !important;
}
.ant-menu-item-selected{
    color:red !important;
    border-bottom: 0px !important;
}
.main{
    position: relative;
    height: 478px;
    width: 100%;
    overflow: hidden;
}
.index-mid-box{
    height: 100%;
    width: 1000px;
    position: absolute;
    margin-left: -500px;
    top: 0;
    left: 50%;
}
.float-mid{
    top: 50%;
    margin-left: -245px;
    margin-top: -145px;
    position: absolute;
    left: 50%;
}
.search{
    width: 490px;
    height: 60px;
    position: relative;
    border: 0px;
    background: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0
    /* opacity: 0.1; */
}
.sear{
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    opacity: 0.1;
}
.searchInput{
    width: 368px;
    height: 40px;
    padding-top: 6px;
    /* margin-top: 6px; */
    margin-left: 10px;
}
.ant-btn{
    color: #fff;
    background: #F37327;
    font-size: 14px;
    width: 92px;
    height: 40px;
    border-radius: 3px;
    /* margin-top: 5px; */
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    z-index: 2;
    border-color: #F37327;
}
.hotText{
    text-align: center;
    width:490px;
    color: rgba(255,255,255,0.80);
    padding: 10px 0;
    font-size: 12px;
}
.newPosition{
    height: 364px;
    width: 100%;
    overflow: hidden;
    background: #fefefe
}
.newPosition-content{
    width: 1180px;
    height: 300px;
    margin: 32px auto;
}
.newPosition-list{
    width: 850px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0 0 15px 0 rgba(31,56,88,0.08);
    border-radius: 3px;
    float: left;
    overflow: hidden;
    position: relative;
}
.show-pic{
    display: block;
    cursor: pointer;
    height: 140px;
    background: #FFFFFF;
    box-shadow: 0 0 15px 0 rgba(31,56,88,0.08);
    border-radius: 3px;
    margin-bottom: 20px;
}
.footer{
    width: 100%;
    height: 44px;
    background: #2C2F33;
}
.footerContent{
    width: 1000px;
    margin: 0 auto;
    line-height: 44px;
    text-align: center;
    color: #fff;
    opacity: 0.4;
}
